.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.products img {
    width: 30px;
    margin: 15px;
}

.link:hover {
    cursor: pointer;
}

.link {
    display: flex;
    align-items: start;
    margin-right: 25px;
}

.link p {
    margin-right: 4px;
}

.links {
    display: flex;
    margin-right: 70px;
}

.link-icon {
    color: transparent;
}

.link p:hover + .link-icon {
    color: black;
    transition: ease-out 0.2s;
}