

.react-activity-calendar {
   
  margin: 0px 40px 0px 40px;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  margin-top: 50px;
}

.work > .title {
  font-size: 36px;
  font-weight: 500;
}

.work > .desc {
  margin-bottom: 30px;
  font-size: 20px;
}

.work-link{
  text-decoration: none;
  color: black;
}

.work hr {
  width: 100%;
}

.works  > .sub {
  color: grey;
  text-align: start;
  margin-left: 0px;
  margin-bottom: 20px;
}


.allworks {
 margin-top: 20px;
 margin-bottom: 40px;
}